<a href="https://colab.research.google.com/github/calebade/Hamoye_internship/blob/main/Quiz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

In [ ]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

The question numbers have been placed at the top of each code

In [ ]:
# 7
proc_2017 = data[(data['Element'] == 'Processing')]
t_proc_2017 = proc_2017['Y2017'].sum()

print("Total sum of Processing in 2017:", t_proc_2017)

Total sum of Processing in 2017: 292836.0

In [ ]:
# 8
columns_of_interest = ['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
correlations = data[columns_of_interest].corr()
least_correlated_year = correlations['Element Code'].idxmin()

print("Year with the least correlation with 'Element Code':", least_correlated_year)

Year with the least correlation with 'Element Code': Y2016

In [ ]:
# 10
data_2017 = data['Y2017'].astype(float)
mean_2017 = round(data_2017.mean(), 2)
std_deviation_2017 = round(data_2017.std(), 2)

print("Mean for the year 2017:", mean_2017)
print("Standard Deviation for the year 2017:", std_deviation_2017)

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86

In [ ]:
# also for 10
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [ ]:
# 11
total_unique_countries = data['Area'].nunique()
print("Total number of unique countries:", total_unique_countries)

Total number of unique countries: 49

In [ ]:
# 12
selected_columns = data[['Y2017', 'Area']]
grouped = selected_columns.groupby('Area')['Y2017'].sum().reset_index()
sorted_grouped = grouped.sort_values('Y2017')
print(sorted_grouped)

seventh_lowest_area = sorted_grouped.iloc[6]['Area']
print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

                           Area       Y2017
42               Sudan (former)        0.00
16                 Ethiopia PDR        0.00
9                       Comoros       59.84
38                   Seychelles      442.34
36        Sao Tome and Principe    12662.63
5                    Cabo Verde    14650.74
21                Guinea-Bissau    19102.77
23                      Lesotho    21267.96
3                      Botswana    22101.30
12                     Djibouti    22729.91
18                       Gambia    23154.18
17                        Gabon    27979.64
24                      Liberia    29342.20
32                      Namibia    29874.89
7      Central African Republic    29937.00
10                        Congo    41181.68
43                         Togo    49841.88
29                    Mauritius    51114.83
14                     Eswatini    54343.33
39                 Sierra Leone    55311.33
8                          Chad    71594.68
35                       Rwanda    73663.69
48                     Zimbabwe    75919.34
37                      Senegal    95681.15
20                       Guinea    98138.87
4                  Burkina Faso   101855.07
47                       Zambia   103223.77
44                      Tunisia   124167.20
2                         Benin   124771.22
33                        Niger   126707.58
25                   Madagascar   131197.73
27                         Mali   149928.33
28                   Mauritania   156665.46
31                   Mozambique   161407.98
26                       Malawi   181098.71
45                       Uganda   213950.38
11                Côte d'Ivoire   224599.01
1                        Angola   229159.57
6                      Cameroon   232030.43
41                        Sudan   239931.92
22                        Kenya   264660.66
46  United Republic of Tanzania   322616.85
0                       Algeria   325644.27
19                        Ghana   337599.06
30                      Morocco   388495.36
15                     Ethiopia   448683.76
40                 South Africa   517590.54
13                        Egypt   866379.92
34                      Nigeria  1483268.23
Area with the 7th lowest sum in 2017: Guinea-Bissau

In [ ]:
# 13
missing_data_count = data['Y2014'].isnull().sum()
total_data_points = data['Y2014'].count() + missing_data_count

# Calculation for the percentage of missing data
percentage_missing = (missing_data_count / total_data_points) * 100

print("Total number of missing data in 2014:", missing_data_count)
print("Percentage of missing data in 2014 (to 3 decimal places):", round(percentage_missing,3))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014 (to 3 decimal places): 2.607

In [ ]:
# 14
subset = data[['Area', 'Y2017']]
grouped = subset.groupby('Area')['Y2017'].sum().reset_index()
area_with_highest_sum = grouped.loc[grouped['Y2017'].idxmax()]

print("Area with the highest sum in 2017:", area_with_highest_sum['Area'])

Area with the highest sum in 2017: Nigeria

In [ ]:
# 15
filtered_data = data[(data['Area'] == 'Madagascar') & (data['Element'] == 'Protein supply quantity (g/capita/day)')]

total_protein_supply_2015 = filtered_data['Y2015'].sum()

print("Total Protein supply quantity in Madagascar in 2015:", total_protein_supply_2015, "g/capita/day")

Total Protein supply quantity in Madagascar in 2015: 173.04999999999998 g/capita/day

In [ ]:
# 17
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored

In [ ]:
# 18
wine_df = data[data['Item'] == 'Wine']

wine_production_2015 = wine_df['Y2015'].sum()
wine_production_2018 = wine_df['Y2018'].sum()

print("Total Wine produced in 2015:", wine_production_2015)
print("Total Wine produced in 2018:", wine_production_2018)

Total Wine produced in 2015: 4251.8099999999995
Total Wine produced in 2018: 4039.3199999999997

In [ ]:
# 19
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

In [ ]:
# 20
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'